DATABASE_URL="YOUR_NEON_DATABASE_URL_HERE"
AUTH_SECRET="YOUR_AUTH_SECRET_HERE"
ADMIN_EMAILS="YOUR_ADMIN_EMAIL_HERE"

AUTH_GITHUB_ID="YOUR_GITHUB_CLIENT_ID_HERE"
AUTH_GITHUB_SECRET="YOUR_GITHUB_CLIENT_SECRET_HERE"

AUTH_GOOGLE_ID="YOUR_GOOGLE_CLIENT_ID_HERE"
AUTH_GOOGLE_SECRET="YOUR_GOOGLE_CLIENT_SECRET_HERE"
